.navbar{
  background-color: rgb(114, 169, 140);
  height: 80px;
}
.main-footer{
  position: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(114, 169, 140);
  color: white;
  text-align: right;
  padding: 7px 20px;
}
.nonsense{
  padding-bottom: 100px;
}
.home-page{
  
  display: contents;
  padding-bottom: 100px;
}
.switchpage-container{
  padding-bottom: 200px;
}

